*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
    }
    
    
    header{
        height: 60px;
        background-color: #fff;
        display:flex;
        align-items: center;
        padding: 15px;
        justify-content: space-between;
        /*gap: 45rem;*/
    }
    
    header div ul {
        list-style: none;
    }
    
    header div ul li {
        display: inline-block;
        padding-right: 17px;
    }
    header div ul li a{
        font-size: 17px;
        text-decoration: none;
    }
    #imgtopo{
        margin-top: 0px;
        margin-left: 12px;
        padding-right: 17px;
    }
    #letra{
        justify-content: space-between;
        vertical-align: middle 5px;
    }
    textarea:focus, input :focus{
    outline: none;
    }
    body{
        background: linear-gradient(90deg, #8d102eff, #79010dff, #6c0108ff, #850009ff, #6d020eff,#79010dff,#8d102eff);
    }
    div#cartcred{
        background-color: white;
        width: 510px;/*largura*/
        margin-left: auto;
        margin-right: auto;
        padding: 20px 30px;
        margin-top: 10vh;/*distancia da altura da tela até o começo da conf do login*/
        border-radius: 15px;/*confi dos cantos da conf*/
        text-align: center;
    }
    form{
        margin-top: 30px;
        margin-bottom: 40px;
    }

    form div.flex {
        display: flex;
        align-items: center;
    }
    form div.flex input{
        width: 55px !important;

    }label, input{/*Separa place holder e label*/
        display: block;
        width: 100%;
        text-align: left;
    }
    label{
        font-weight: bold;
    }
    input{
         border-bottom:  2px solid #323232;
         padding: 5px;/*Deixa longe das bordas*/
         font-size: 1rem;
         margin-bottom: 20px;
     }
     input :focus {
         border-bottom: 2px solid #085588
     }
     #val{
        width: 50%;
     }
     #seg{
        width: 50%;
     }
     #pedido{
            text-align: center;
            text-transform: uppercase;/*Todas letras maisculas*/
            font-weight: bold;
            border: none;
            height: 40px;
            border-radius: 0px;
            margin-top: 30px;
            color: white;
            background-color: #18943d;
            cursor: pointer;
     }
     div#total{
        text-align: left;
        font-size:1.5rem ;
    }

footer{
    margin-top: 50px;
    height: 60px;
    text-align: center;
    display: flex;
    background-color: white;
    font-style: italic;
    padding: 20px;
    justify-content: space-between;
    font-size: 19px;
}
div#Numero{
    margin-left: 15px;
   
}
div#dir{
    align-items: center;
}
#pol{
    text-decoration: none;
}
div#contato{
    margin-right: 15px;
    
}